<app-todo-header></app-todo-header>

<hr>

<div class="row">
    <div class="container">
        <div class="col-lg-8 offset-lg-2">
            <div class="card mt-4">
                <div class="card-body">
                    <app-add-todo (add)="addTodo($event)"></app-add-todo>
                    <br>
                    <h5 *ngIf="todos.length == 0">There's no todos to show.</h5>
                    <ul class="list-group">
                        <li *ngFor="let todo of todos"
                            class="list-group-item d-flex justify-content-between align-items-center">
                            <app-check-todo [isChecked]="todo.completed"
                                (checkChange)="checkTodo($event, todo.id!)"></app-check-todo>

                            <span [ngClass]="{'completed': todo.completed}">
                                <ng-container *ngIf="!todo.completed; else completedTodo">
                                    <h5>{{todo.name}}</h5>
                                </ng-container>
                                <ng-template #completedTodo>
                                    <del><h5 class="text-success">{{todo.name}}</h5></del>
                                </ng-template>
                            </span>

                            <app-delete-todo [todoId]="todo.id" (delete)="deleteTodo($event)"></app-delete-todo>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>